
body{
    background-color: hsl(0, 0%, 85%);
}

#Calculator{
    width: 520px;
    background-color: black;
    border-radius: 15px;
}

#Display{
    width: 100%;
    font-size: 4rem;
    border: none;
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 15px;
    background-color: hsl(0, 0%, 65%);
    color: black;
    text-align: right;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 15%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
button:hover{
    background-color: hsl(0, 0%, 30%)
}
button:active{
    background-color: hsl(0, 0%, 40%)
}
.presmetka{
    background-color: #fc7703;
    margin-left: 5px;
}
.presmetka:hover{
    background-color: #fc8003;
}
.presmetka:active{
    background-color: #fc9d03;
}
